<!DOCTYPE html>
<html>

<!-----------header--------->
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>REVIVE Rehabilitation Centre </title>
        <link rel="shortcut icon" type="image/png" href="static/favicon.png">
        <link rel="stylesheet" href="static/css/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
              integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&display=swap">
        <script src="https://kit.fontawesome.com/3cb81d5d8f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <section class="header">
            <nav>
                <a href=homepage><img src="static/logo.jpeg"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href=homepage>HOME</a></li>
                        <li><a href="">PROGRAMS</a></li>
                        <li><a href="">CARE</a></li>
                        <li><a href=reviews>REVIEWS</a></li>
                        <li><a href=contact>CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
            <div class="contacth1">
                <h1>Contact Us:</h1>
            </div>

    <!-----------Contact Us------------>
    <section class="location">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487295.02532044525!2d78.12785129924684!3d17.41215307568293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1653733124992!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


    </section>
    <section class="contact-us">

        <div class="row1">
            <div class="contact-col">
                <div>
                    <i class="fa-solid fa-house"></i>
                    <span>
                        <h5>XYZ road, ABC Building</h5>
                        <p>Hyderabad, Telangana</p>
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <span>
                        <h5>+91 0123456789</h5>
                        <p>Monday To Saturday, 10AM to 6PM</p>
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <span>
                        <h5>kondapalli.suhali@gmail.com</h5>
                        <p>Email Us your Queries</p>
                    </span>
                </div>
            </div>
        </div>
    </section>

        </section>


    <!-----------JavaScript for Toggle Menu------------>
        <script>
            var navLinks = document.getElementById("navLinks");
            function showMenu(){
                navLinks.style.right="0";
            }
            function hideMenu(){
                navLinks.style.right="-200px";
            }
        </script>

    </body>


    <!-----------footer----------->
    <section class="footer">
        <h4>About Us</h4>
        <p>
            At REVIVE, we recognize that each individual has a unique set of circumstances and a unique set of goals.<br>Hence,
            we accommodate limited clients at one time in order to design and execute customized treatment plans for each individual.
        </p>
        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa-regular fa-heart"></i> by Suhali Kondapalli</p>
    </section>
</html>