<!DOCTYPE html>
<html>

<!-----------header--------->
    <head>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>REVIVE Rehabilitation Centre </title>
        <link rel="shortcut icon" type="image/png" href="static/lotus (2).png">
        <link rel="stylesheet" href="static/css/style1.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css"
              integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,600&display=swap">
        <script src="https://kit.fontawesome.com/3cb81d5d8f.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <section class="header">
            <nav>
                <a href=homepage><img src="static/logo.jpeg"></a>
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                    <ul>
                        <li><a href=homepage>HOME</a></li>
                        <li><a href="">PROGRAMS</a></li>
                        <li><a href="">CARE</a></li>
                        <li><a href=reviews>REVIEWS</a></li>
                        <li><a href=contact>CONTACT</a></li>
                    </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>

            <!--------Button for login---------->
            <div class="text-box">
                <a href=requests class="btn">Click me to Login</a>
            </div>

            <!-----------JavaScript for Toggle Menu------------>
            <script>
                var navLinks = document.getElementById("navLinks");
                function showMenu(){
                    navLinks.style.right="0";
                }
                function hideMenu(){
                    navLinks.style.right="-200px";
                }
            </script>
        </section>

    </body>


<!-----------footer----------->
    <section class="footer">
        <h4>About Us</h4>
        <p>
            At REVIVE, we recognize that each individual has a unique set of circumstances and a unique set of goals.<br>Hence,
            we accommodate limited clients at one time in order to design and execute customized treatment plans for each individual.
        </p>
        <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <p>Made with <i class="fa-regular fa-heart"></i> by Suhali Kondapalli</p>
    </section>
</html>